<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
  <head>
    <title th:text="${'Home Courses'}">Title of the page</title>
    <link href="https://code.jquery.com/ui/1.12.0/themes/ui-lightness/jquery-ui.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <script type="text/javascript">
      $(function() {
    	  $("#create-course-dialog").dialog({
    		  autoOpen : true,
    		  title: "Create a course",
    		  buttons: [{}
    		            }
    		          ]
    		  
    	  });
    	  
      });
    
    </script>
    
  </head>
  
  <body>
    <div>
      <h1 th:text="${'Your Courses Homepage'}">header of the site</h1>
    </div>
    
    <div th:each="course : ${courses}" th:object="${course}">
       <a th:href="${'editCourse/' + {course.id}}">
         <span th:text="${course.name}">A course name</span>
       </a>
    </div>
   
    <div th:if="${#lists.isEmpty(courses)}">
      You have no courses
    </div>
    
    <div style="margin-top: 1em;">
      <a href="createCourse">Create a New Course</a>
    </div>
    
    <div id="create-course-dialog">
      <form id="frame-create-course" method="post" action="" th:object="${course}">
          Coursestest Name: <input type="text" th:field="${course.name}"/>
      </form>
    </div>
  </body>
</html>