<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
  <head>
    <title th:text="${'Home Courses'}">Title of the page</title>
    <script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css"/>
    <script type="text/javascript">
      $(function() {
    	  dialog = $("#create-course-dialog").dialog({
    		  autoOpen : false,
    		  title: "Create a course",
    		  modal: true,
    		  closeOnEscape: true,
    		  buttons: {
    	        "Create Course": function() {
    	        	$("#create-course-form").submit();
    	        },
    	        Cancel: function() {
    	        	dialog.dialog("close");
    	        }
    		  },
    		  close: function() {
    		      dialog.dialog("close");
    		  }
    	  });
    	  
    	  $("#create-course-btn").click(function() {
             dialog.dialog("open"); 
    	  });
      });   
    </script>
  </head>
  
  <body>
    <div>
      <h1 th:text="${'Your Courses Homepage'}">header of the site</h1>
    </div>
    
    <div th:each="course : ${courses}" th:object="${course}">
       <a th:href="${'editCourse/' + {course.id}}">
         <span th:text="${course.name}">A course name</span>
       </a>
    </div>
   
    <div th:if="${#lists.isEmpty(courses)}">
      You have no courses
    </div>
    
    <div style="margin-top: 1em;">
      <button id="create-course-btn">Create a New Course</button>
    </div>
    
    <div id="create-course-dialog">
	  <form id="create-course-form" method="post" action="" th:object="${course}">
	    <label>Course Name</label>
	    <input type="text" th:field="${course.name}"/>
	  </form>
    </div>
  </body>
</html>